<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>Mode of \ntransport</td>
      <td>Postal Code</td>
      <td>Frequency \nper week</td>
      <td>Total per \nyear</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Employee 1  Drive</td>
      <td>NaN</td>
      <td>100000</td>
      <td>5</td>
      <td>280</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Employee 2</td>
      <td>Drive</td>
      <td>111000</td>
      <td>3</td>
      <td>168</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Employee 3</td>
      <td>Drive</td>
      <td>102200</td>
      <td>2</td>
      <td>112</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Employee 4</td>
      <td>Drive</td>
      <td>100330</td>
      <td>4</td>
      <td>224</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Employee 5</td>
      <td>Drive</td>
      <td>104400</td>
      <td>5</td>
      <td>280</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Employee 6</td>
      <td>Drive</td>
      <td>100550</td>
      <td>2</td>
      <td>112</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Employee 7</td>
      <td>Drive</td>
      <td>166000</td>
      <td>5</td>
      <td>280</td>
    </tr>
  </tbody>
</table>